*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.img-container{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 825px;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("./img/Iglesia.jpg");
    background-size: cover;
    background-position: center;
}

.navbar-brand{
    margin-left: 10px;
}

.img-container > a{
    font-size: 120%;
    text-decoration: none;
    color: white;
    border: solid white 1px;
    background: none;
    width: 180px;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -30%);
    transition: 0.54s;
}

.icon{
    font-weight: bold;
    font-size: 300%;
    border: none;
    background: none;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -120%);
    transition: 0.54s;
}

.img-container > a:hover{
    background: white;
    transition: .45s;
}

.title{
    position: absolute;
    margin-top: 15%;
    margin-left: 22%;
    font-size: 290%;
}

@media (min-width: 1000px) {
    
    .title{
        position: absolute;
        margin-top: 10%;
        margin-left: 25%;
        font-size: 290%;
    }

    .icon{
        font-weight: bold;
        font-size: 300%;
        border: none;
        background: none;
        color: white;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -30%);
        transition: 0.54s;
    }

    .img-container > a{
        font-size: 120%;
        text-decoration: none;
        color: white;
        border: solid white 1px;
        background: none;
        width: 180px;
        
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, 150%);
        transition: 0.54s;
    }
}

@media (max-width: 550px) {
    .icon{
        margin-top: 120px !important;
    }

    .img-container > a{
        margin-top: 120px;
    }

    .title{
        margin: 0;
        margin-top: 30px;
    }
}